/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2017-02-02 09:56:02 */

    html, body { 
        font-family: 'Roboto', sans-serif;;
}
html,body{color:#666666}
a{color:#3b3b3b}
.data-table button.button:hover > span,
button.button span{
    background-color:#000000;
    color:#ffffff}
button.button:hover span{
    background-color:#3b3b3b;
    color:#ffffff}
.data-table button.button:hover > span {border-color:#3b3b3b}
span.new-product-icon{
    background-color:#0fc567;
    color:#ffffff}
span.sale-product-icon{
    background-color:#f83737;
    color:#ffffff}
.fixed-header .menu > li > a > span.cat-label.cat-label-label1, .main-nav .menu > li > a > span.cat-label.cat-label-label1,.fixed-header .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label1, .main-nav .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label1,div.mobile-nav .sw-mobile-menu li>a span.cat-label.cat-label-label1,.menu.side-menu li>a span.cat-label.cat-label-label1{
}
.fixed-header .menu > li > a > span.cat-label.cat-label-label2, .main-nav .menu > li > a > span.cat-label.cat-label-label2,.fixed-header .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label2, .main-nav .menu > li .nav-sublist-dropdown ul li a > span > span.cat-label.cat-label-label2,div.mobile-nav .sw-mobile-menu li>a span.cat-label.cat-label-label2,.menu.side-menu li>a span.cat-label.cat-label-label2{
}
.top-container >.breadcrumbs{background-color:#f3f3f3}
.top-container >.breadcrumbs{color:#000}
.breadcrumbs li a{color:#000}
.breadcrumbs li a:hover{color:#8e8e8e}
