
/* Custom Design */


@font-face {
  font-family: 'Norwester-Regular';
  src: url('../font/Norwester-Regular.eot?#iefix') format('embedded-opentype'),  url('../font/Norwester-Regular.otf')  format('opentype'),
	     url('../font/Norwester-Regular.woff') format('woff'), url('../font/Norwester-Regular.ttf')  format('truetype'), url('../font/Norwester-Regular.svg#Norwester-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);



/* PRELOADER */

/* END OF PRELOADER */

/* GLOBAL */


a:hover {
    color: #9f9f9f;
    text-decoration: underline;
}

.main-container.col1-layout {
    padding: 0;
    min-height: 0px;
}

.catalog-product-view .custom-icon {
    padding: 0px;
}

.main-container {
    padding: 20px 0 20px;
    min-height: 400px;
}

.data-table .product-name a {
    color: #000;
}
.data-table.compare-table th {
    text-align: left;
}

.has-children.opened ul li {
    padding-bottom: 10px;
}

.has-children.opened ul li a {
    line-height: 23px;
}

/* bug fix */

.etalage_small_thumbs[style] {
    left: auto !important;
}

/* END OF GLOBAL */

/* HEADER */
.menu {
	text-align: center;
}
.header>.logo {
    max-width: 300px;
}
.top-links-container {
    background-color: #ffd800;
}
.header-container .links li {
    border-left: 1px solid #cdad04;
}

.header-container.type4 .top-links a {
    font-weight: bold;
}

.main-nav .menu-wrapper {
    background-color: #000000;
}
.header-container.type4 .header-wrapper {
    background-color: #000000;
    margin-bottom: 0px;
}
.header-container.type4 .main-nav ul.menu>li>a {
    padding-top: 19px !important;
    padding-bottom: 19px !important;
}
.header-container.type4 .top-links a {
    font-weight: bold;
    color: #000;
}
.header-container.type4 {
	border: none;
}
.header-container.type4 .main-nav ul.menu>li>a {
    color: #fff;
    font-size: 13.5px;
    letter-spacing: 0.5px;
}
.main-nav ul.menu >li:hover {
	background-color: #ffd800;
}
.main-nav ul.menu >li .nav-sublist-dropdown {
	border-top-color: #ffd800 !important;
}
.owl-item.active img {
    visibility: hidden;
}
.main-nav ul.menu >li.act {
	background-color: #ffd800;
}
.main-nav ul.menu >li.act a,
.main-nav ul.menu >li:hover a {
	color: #000 !important;
}
.header-container .main-nav.container ul.menu>li>a {
	color: #000 !important;
}

.top-container >.breadcrumbs {
    padding: 15px 0;
}

.breadcrumbs span.breadcrumbs-split {

    font-size: inherit;
}

.icon-mini-cart:before {
	color: #000;
}

.header .form-search {
    border-radius: 0px !important;
}

 /* END OF HEADER*/

 /* CONTACT SECTION */

.contacts-index-index .main-container {
    padding: 50px 0 20px 0px;
}

.contacts-index-index .col-main .contact-info i {
    background-color: #858585;
}


 /* END OF CONTACT SECTION */

/* SLIDER */

.banner-wrap {
	position: absolute;
    top: 20%;
    text-align: left;
    background: rgba(0, 0, 0, 0.80);
    padding: 33px 90px;
}

.banner-wrap .first {
	font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 100%;
    color: #ffd800;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
}

.banner-wrap .second {
	font-family: 'Norwester-Regular';
    font-size: 72px;
    text-transform: uppercase;
    color: #ffd800;
    line-height: 100%;
    letter-spacing: 6px;
}
.banner-wrap .third {
	font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 100%;
    color: #ffd800;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
}


/* END OF SLIDER */

 /* ABOUT PAGE */

.cms-about .main-container {
    padding: 20px 0 20px;
}

.about {
    margin-top: 20px;
}
.about h2.head-border {
    font-size: 24px;
    line-height: 26px;
    color: #000;
    font-weight: bold;
    margin-bottom: 15px;
}

.about h2.head-border2 {
    font-size: 24px;
    line-height: 23px;
    color: #000;
    font-weight: bold;
    margin-bottom: 15px;
}

.about h2.head-border2:after {
    display: inline-block;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #c7c7c7;
    width: 100%;
}

.about p {
    font-size: 14px;
    color: #666666;
}

.about h2.head-border:after {
    display: inline-block;
    margin: 0 0 7px 20px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #c7c7c7;
    width: 86%;
}

.sec-h2:after {
    display: inline-block;
    margin: 0 0 5px 20px;
    height: 15px;
    content: " ";
    text-shadow: none;
    background-color: #0c308b;
    width: 107px;
}
/* END OF ABOUT PAGE */

/* HOMEPAGE FEATURED PRODUCTS */
 
#featured_product .category-products .products-grid.columns4 li.item:hover {
	padding:10px;
}
#featured_product .category-products .products-grid.columns4 li.item:nth-child(4n+5) {
    clear: left;
}
 /* CAROUSEL */

 .owl-side-narrow .owl-controls .owl-buttons div {
    color: #c4c4c4;
    background: transparent;
    padding: 0;
    margin: 0;
    font-size: 35px;
    position: absolute;
    top: 25%;
}

.our-brands .owl-side-narrow .owl-controls .owl-buttons div.owl-next {
    right: -40;
}

.our-brands .owl-side-narrow .owl-controls .owl-buttons div.owl-prev {
    left: -40;
}

.owl-side-narrow .owl-controls .owl-buttons div.owl-prev {
    left: -40px;
}

.owl-side-narrow .owl-controls .owl-buttons div.owl-next {
    right: -40px;
}

.outer {
    position: absolute;
    z-index: 1;
    top: 20%;
}

.our-brands .owl-item .item img {
    width: auto;
    max-width: 180px !important;
    max-height: 100px;
    margin: 0 auto;

}

.owl-prev, .owl-next {opacity: 0 !important;}

.owl-carousel:hover .owl-controls .owl-buttons .owl-prev {opacity: 1 !important;}
.owl-carousel:hover .owl-controls .owl-buttons .owl-next {opacity: 1 !important;}

.our-brands .owl-item {
height: 170px;
position: relative;
}

.our-brands .owl-item img {
position: absolute;
left: 0;
right: 0;
top: 50%;
transform: translate(0,-50%); // IE9
transform: translate3d(0,-50%,0); // Modern Browsers - better performance
margin: 0 auto;
}

 /* END OF CROUSEL */

/* FILTER */

.block-layered-nav dt, 
.block-category-nav .block-title {
    background-color: #fff;
    border: 1px solid #999999;
    padding: 12px 20px 12px 20px;
    margin-top: 20px;
}
.block-layered-nav .actions {
    border-radius: 0px;
}

.block-layered-nav .currently .block-subtitle  {
    background-color: #fff;
    border: 1px solid #999999;
    padding: 12px 20px 12px 20px;
    margin-top: 0px;
    border-radius: 0px;
}

.catalogsearch-result-index .sidebar,
.catalogsearch-result-index .block-category-nav {
    margin-bottom: 0;
    margin-top: 0px;
}

.block-category-nav {
    margin-bottom: 0;
    margin-top: 20px;
}

.block.block-layered-nav .block-content .currently ol {
    margin: 0;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    background-color: #f7f7f7;
}

.block-layered-nav dd, .block-category-nav .block-content {
    border-bottom: #999999 solid 1px;
    border-right: #999999 solid 1px;
    border-left: #999999 solid 1px;
    background-color: #f7f7f7;
    padding-top: 20px;
}

.block-layered-nav .actions {
    background-color: #f7f7f7;
    border-bottom: #999999 solid 1px;
    border-right: 1px solid#999999;
    border-left: 1px solid #999999;
    position: relative;
    z-index: 1;
}

.catalog-category-view .col2-left-layout .col-left.sidebar:before {
    border: solid 0px #999999;
}

.block-category-nav .block-title:before,
.block-layered-nav dt:before, .block-category-nav .block-title:before {
    margin-top: 0px;
    position: absolute;
    top: 14px;
}

.block-category-nav .category-list a, .block-layered-nav dd a {
    color: #666666;
}

[data-id="159"],
[data-id="160"],
[data-id="161"],
[data-id="162"],
[data-id="163"]
 {
    pointer-events: initial !important;
    cursor: pointer !important; 
    text-align:  center !important; 
    line-height: 15px !important;
}

.nav-sublist.level1 {
    margin-top: 5px;
    width: 85%;
}

li a.level1 {
    pointer-events: none;
    cursor: text; 
    text-decoration:  none;   
}
li .menu-item-has-children a.level1 span {
	font-size: 16px !important;
}

.nav-sublist.level1 ul li a.level2 span {
    font-size: 13px !important;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

/* Price Range */

.ui-slider .ui-slider-range {
    background: #000 !important;
}
.ui-slider span.ui-slider-handle {
    background: #000000;
    width: 14px;
    height: 14px;
    border: 0;
    margin-top: -2px;
    cursor: pointer;
    border-radius: 9px;
}
div.ui-slider {
    background: #cacaca;
}
.price-filter-slider .text-box input.go {
    background-color: #333;
}

.product-shop .msrp {
    margin-bottom: 10px;
}

.product-shop .msrp .price{
    text-decoration: line-through;
}


/* END OF FILTER */


/* TOP SECTION */

/* login area */

.col-main .page-title h1, .col-main .page-title h2 {
    color: #000;
}
.form-wrap, #form-validate, #login-form {
    border-top: 4px solid #000;
}
.form-wrap h2, #form-validate h2 {
    color: #000;
}
/* login area */

.compare-popup.theme-border-color,
.topCartContent.block-content.theme-border-color {
    border-color: #000;
}

.compare-popup:before,
.topCartContent:before {
    border-bottom-color: #000;
}

.data-table button.button:hover > span, button.button span {
    background-color: #ffd800;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}

.mini-products-list li .product-name a {
    color: #000;
}

.mini-products-list li .product-name a:hover {
    color: #777;
}

.mini-cart .qty-price {
    color: #000;
}
.mini-cart .totals {
    color: #000;
}

.btn-default {
    background-color: #000;
}

.btn-default:hover {
    background-color: #777;
}


/* END OF TOP SECTION */


/* SHOPPING CART */

.cart-table-wrap a {
    color: #000 !important;
}

.checkout-types li a:hover {
    color: #000 !important;
}

.cart-table-wrap a:hover {
    color: #777 !important;
}

.btn-checkout:hover span,
.buttons-set .button:hover span,
.btn-checkout span span:hover,
.buttons-set .button span span:hover {

    background-color: #ffdf2d !important;
    color: #000 !important;
}



.btn-remove {
    color: #000;
}

.cart-price span {
    color: #000;
}

button.button:hover span {
    color: #fff;
    background-color: #000;
}

.data-table button.button > span {
    background: #000000;
    border: 1px solid #ccc;
    color: #fff;
    line-height: 32px;
    padding: 0 12px;
}

.data-table button.button > span:hover {
    background: #000;
    color: #fff;
}

/* END OF SHOPPING CART */


/* CHECKOUT PAGE */

.opc .step-title .number,
.opc .step-title h2 {
    color: #000;
}

.f-left:hover {
    color: #000;
}

/* END OF CHECKOUT PAGE */

/* PRODUCT LIST */

.filter-products .products:not(.small-list) div.item .item-area, .category-products .products-grid li.item .item-area {
    background-color: #fff;
    border: 1px solid #cfcfcf;
}
.rating-box {
    width: 110px;
    height: 20px;
}
.rating-box .rating {
    height: 20px;
}
.rating-box:before {
    font-size: 15px;
    width: 110px;
    height: 100%;
    padding-top: 2px;
}
.rating-box .rating:before {
    color: #000000;
    font-size: 15px;
    width: 110px;
    height: 20px;
}
.products-grid .ratings {
    margin: 7px 0 15px 0px;
}
.line-border {
    margin:0 auto;
}
.ratings {
    position: relative;
}

.ratings .rating-box {
    display: inline-block;
    vertical-align: middle;
    background: white;
    z-index: 2;
}
.border-line {
    height: 3px;
    width: 100%;
    background-color: red;
    position: absolute;
    top: 7px;
    z-index: 0;
    height: 1px;
    width: 100%;
    background-color: #cfcfcf;
}

.item-area .details-area.padding-zero {
    padding: 0px !important;
}

.category-wrap {
    margin-top: 13px;
}
.category-wrap h1 {
    font-size: 30px;
    color: #000;
    font-weight: bold;
}
.category-wrap p {
    font-size: 15px;
    color: #666666;
}
.sorter .sort-by {
    float:  right; 
}
.grid-wrap-left {
    float:  left;
}

.pager .pages .current {
    border: 1px solid #000;
}

.item .details-area .actions a.addtocart span {
    margin-top: -4px;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 12px;
}

.item .details-area .actions a.addtocart,
.category-products .products-list li.item .details-area .actions a.addtocart
 {

    text-transform: initial;
    letter-spacing: 0px;
    font-size: 14px;
    color: #000000;
    padding: 5px;
    width: 135px;
    height: 40px;
    background: #ffd800;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: none;
    text-align: center;
}

.actions .icon-cart {
    font-weight: bold;
}

.details-area .price-box {
    margin-top: 0px;
}

.details-area .special-price .price {
    color: #000;
}

i.ajax-loader {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #000;
    border-radius: 20px;
    border-bottom-color: transparent!important;
}

.products-grid li.item .product-image {
    height: 255px;
    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a; 
}

.products-grid li.item .product-image:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.products-grid li.item .product-image img {
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    max-width: 210px !important;
    max-height: 230px;
    width: auto;
}

.theme-color {
    color: #000!important;
}

.fxh-title {
    min-height: 90px;
}

#success-message-container {
    border-top: 4px solid #000;
}

.compare-popup p {
    margin: 0;
    padding: 0px 10px 0px 0px;
}

/* END OF PRODUCT LIST */

/* BRANDS */



.brand-wrap {
    position: relative;
    border: 1px solid black;
    height: 215px;
}

.brand-wrap:hover {
    background-color: #ebebeb;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;

}


.brand-wrap img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 175px;
    max-height: 100px;

}

.menu_thumb_img {
    position: relative;
    height: 90px;
}

.menu_thumb_img img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 160px;
    max-height: 65px;
}

.category-brands .main-container {
    height: 100%;
    min-height: 240px;

}

.brands .col-sm-3 {
    border: 1px solid #ebebeb;
}

.brands {
    margin-top: 20px;
}

/* END OF BRANDS */

/* SINGLE PRODUCT */



.catalog-product-view .etalage_thumb_active img.etalage_thumb_image {
    vertical-align: bottom;
    max-width: 400px;
    width: auto !important;
    max-height: 400px;
    margin: 0 auto;
    display: block !important;
}

.product-shop h1 {
    text-transform: uppercase; 
    line-height: 30px !important;
}
.short-desc-wrap {
    margin-top: 20px;
}
.short-desc-wrap .std ul br {
    display: none;
}
.short-desc-wrap .std ul {
    list-style: none;
    padding: 0;
}
.short-desc-wrap .std ul li {
    margin-bottom: 6px;
    padding-left: 1.3em;
}

.short-desc-wrap .std ul li:before {
  content: "\f138";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.4em;
  color: #ffcc00;
}

.product-view,
.sidebar  {
    margin-top: 20px;
}

.product-view .product-shop .price-box .special-price .price,
.product-view .product-shop .price-box .regular-price .price {
    font-size: 30px;
    font-weight: 700;
    color: #ff3000;
}

.etalage-control .etalage-next:hover,
.etalage-control .etalage-prev:hover {
    color: #3b3b3b;
}

.product-view .product-img-box li.etalage_small_thumbs li.etalage_smallthumb_active:before,
.product-view .product-img-box li.etalage_small_thumbs li.etalage_smallthumb_active {
	border-color: #dae2e6;
    border-radius: 0px;
}

.top-container >.breadcrumbs {
    padding: 15px 0;
   
}

.top-container >.breadcrumbs ul li {
    color: #000;
}

.availability-only strong {
    color: #ff304f;
}
.availability-only span, .availability-only a {
    border-bottom: 1px dashed #ff304f;
    color: #ff304f;
}

.product-tabs .tab-content {
    border: none;
    border-top: solid 1px #dae2e6;
    box-shadow: none;
    padding: 32px 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 27px;
    border: 1px solid #999999;
    padding: 20px;
}

.side-links {
    position: relative;
    z-index: 2;
}


.side-links a:hover {
    color: #000;
}

.sidebar .title-head {
font-size: 23px;
line-height: 26px;
color: #000;
font-weight: bold;
margin-bottom: 8px;
}

.sidebar .content-head {
font-size: 15px;
color: #666666;
}


.custom-icon img {
width: 100%;
max-width: 90px;
}



/* Tabs */
.product-tabs>ul li.active a:after {
    height: 0px;
}
.product-tabs>ul li.active {
    border: 1px solid #999999;
    background-color: rgb(0, 0, 0);
}
.product-tabs>ul li.active a {
    color: #ffffff;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 14px 25px;
}
.product-tabs>ul li {
    background: none;
    border: 1px solid #999999;
    background-color: #f7f7f7;
    margin: 0px;
    margin: 0px 0px 0px -1px;
    font-size: 16px;
    text-align: center; 
}
.product-tabs>ul li:first-child {
    margin: 0px 0px 0px 0px;
}
.product-tabs>ul li a {
    padding: 14px 25px !Important;
    font-size: 14px;
    font-weight: 700;
    margin-right: 37px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
}
.product-tabs>ul li:hover > a {
    text-decoration: none;
}

.filter-title.first-section {
    margin-top: 30px;
    padding-bottom: 0px;
}



/* end of Tabs */

/* END OF SINGLE PRODUCT */


/* SIDE BAR */


.rated_watts_wrap .sidebar-title {
    padding: 12px 20px 12px 20px !important;
    background-color: #fff;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    font-size: 15px !important;
}
.rated_watts_wrap {
    border-bottom: #999999 solid 1px;
    border-right: #999999 solid 1px;
    border-left: #999999 solid 1px;
    background-color: #f7f7f7;
    padding-bottom: 20px;
}

.price.price-filter-slider {
    margin-top: 0px;
}

.price-filter-slider .text-box * {
    width: 37% !important;
}
.text-box input.go {
    margin-top: 15px;
    width: 80% !important;
}

.sidebar h2.sidebar-title {
    padding-left: 0px;
    font-size: 20px;
    color: #000;
}

.sidebar .custom-block {
    padding: 0 20px 15px 0px;
}

/* SIDE BAR */


/* HOMEPAGE */

.our-brands {
    padding: 0px;
}

.filter-title .container {
    border-bottom: 1px solid #cccccc;
     max-width: 1140px;
     padding: 0px;

}

.section-title {
    text-transform: initial;
    font-size: 24px;
    text-align: left;
    margin-bottom: 5px;
}

 .third-section {
    padding: 35px 0px;
 }

 .third-section .title-head {
    font-size: 23px;
    line-height: 26px;
    color: #000;
    font-weight: bold;
    margin-bottom: 8px;
 }

  .third-section .title-head2 {
    font-size: 23px;
    line-height: 26px;
    color: #000;
    font-weight: bold;
    margin-bottom: 8px;
 }

  .third-section .content-head {
    font-size: 15px;
    color: #666666;
 }
 
 .content-head-big {
    font-size: 21px;
    line-height: 28px;
    color: #000;
 }

 div.col-md-3.custom-icon {
    padding: 0px;
 }

 .custom-icon img {
    margin:0 auto;
    display: block;
    max-width: 80px !important;
    width: 100%;
 }

 .grid3 {
    margin-top: 25px;
 }

/* END OF HOMEPAGE */

 /* FOOTER */

.footer-middle .block.block-subscribe .input-box button {
    border-left: 0px solid #ccc;
    margin-left: 0px;
    margin-top: 15px;
    background: #ffd800;
    width: 110px;
}
.footer-middle .block.block-subscribe .input-box button span {
    color: #000;
    font-weight: bold;
}

.footer-middle .block.block-subscribe .input-box input.input-text {
    border: 0px;
    background-color: #fff;
    border-radius: 0px;
}
.footer-middle .block.block-subscribe .input-box {
    padding: 0;
    margin-top: 30px;
}
#totop {
    color: #fff;
}
.footer-container .validation-advice {
    position: absolute;
    display: none;
}

.footer-bottom {
    background-color: #fff;
}

.footer .social-icons {
    float: left;
}

/* Product Information - Right Sidebar */

.side-custom-menu.no_radius {
	border-radius:0;
}
.side-custom-menu.dark h2 {
	background-color:#000;
}
.side-custom-menu.dark h2 .fa { float:right; }
.side-custom-menu.dark  a:hover { text-decoration:none; }
.side-custom-menu.dark a { font-size:14px; }
.side-custom-menu .format_icons i {
	margin-right:10px;
	color:#000;
}
.side-custom-menu .format_icons .file_size { font-size:12px; }

.btn-quote {
	background-color:#ffd800;
	color:#000;
	border:0;
}
.btn-quote:hover {
	background-color:#000000;	
}

 /* END OF FOOTER */

@media only screen and (max-width: 1280px) {

    .header-container.type4 .header #search_mini_form {
        width: 100%;
    }
    .main-nav {
    text-align: center;
    }
    .main-nav .container {
        width: 100%;
    }

}


@media only screen and (max-width: 1199px) {

    .main-container.col2-left-layout {

    }
    .slider_input input[type="text"] {
        max-width: 180px;
        margin: 5px 8px !important;
    }

    .price-filter-slider .text-box *,
    .slider_input input[type="text"] {
        width: 100% !important;
        text-align: center;
        
    }
	.about h2.head-border {
	    margin-bottom: 5px;
	}

	.owl-buttons div.owl-prev,
	.owl-buttons div.owl-next {
		display: none !important	;
	}

	.about h2.head-border:after {
	    display: inline-block;
	    margin: 0 0 7px 0px;
	    height: 1px;
	    content: " ";
	    text-shadow: none;
	    background-color: #c7c7c7;
	    width: 100%;
	}

    .footer-bottom a.logo {
        float: none;
        margin: 0px;
    }
    .footer .social-icons {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .footer-bottom address {
        float: none;
        line-height: 40px;
        width: 100%;
        text-align: center;
        line-height: 18px;
        margin-top: 20px;
    }
    .header-container.type4 .main-nav ul.menu>li>a {
        color: #fff;
        font-size: 11px;
    }
    .header-container.type4 .header > .logo {
        margin: 0px;
    }
    .block-layered-nav dt, .block-layered-nav .currently .block-subtitle, .block-category-nav .block-title {
        font-size: 12px;
    }
    .block-category-nav .block-title:before, .block-layered-nav dt:before, .block-category-nav .block-title:before {
        top: 8px;
    }

}



@media only screen and (max-width: 1024px) {
    .brand-wrap img {
        max-width: 115px;
        max-height: 80px;
    }

    .brand-wrap {
        height: 140px;
    }

    .fixed-header ul.menu >li >a, .main-nav ul.menu >li >a {
        padding: 17px 16px;
    }
}

@media only screen and (max-width: 991px) {

    .catalog-category-view .block-category-nav .block-title {
        margin-top: 0;
        margin-bottom: 0;
        padding: 12px 12px;
    }
    .block-category-nav .category-list a, .block-layered-nav dd a {
        font-size: 12px;
        line-height: 30px;
    }


    .slider_input input[type="text"] {
        max-width: 130px;
    }
    #submit_filter {
        font-size: 10px;
        padding: 10px 12px;
    }

	.header-container.type4 .cart-area {
	    float: right;
	    position: static;
	    margin: 5px 3px 0px 0px;
	}
    li .menu-item-has-children a.level1 span {
        font-size: 13px !important;
    }

    [data-id="159"], [data-id="160"], [data-id="161"], [data-id="162"], [data-id="163"] {
        text-align: left !important;
        line-height: 40px !important;
        font-size: 13px !important;
    }
    .third-section .title-head2 {
        margin-top: 20px;
    }

    .block-category-nav .block-content {
        padding: 0px 10px 0px 15px;
    }
    }


/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .custom-icon img {

        margin-bottom: 20px;
    }
    .grid3 .title-head,
    .grid3 .content-head {
        text-align: center;
    }
    .catalog-product-view .custom-icon {
        padding: 0px 0px 0px 10px;
    }


}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1199px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .product-view .add-to-links {
        margin-top: 20px;
    }
    .add-to-links li a:first-child {
        margin-left: 0px;
    }

}

@media only screen and (max-width: 768px) {

    
    input[type='text'],
    input[type='number'],
    textarea, select {
      font-size: 16px !important;
    }

    .products-grid li.item .product-image {
        height: 190px;
    }
    .products-grid li.item .product-image img {
        max-width: 160px !important;
        padding-top: 20px;
    }

    .banner-wrap .first {
        font-size: 17px;
    }
    .banner-wrap .second {
        font-size: 47px;
    }

    .banner-wrap .third {
        font-size: 15px;
    }

    .banner-wrap {
        left: 50%;
        transform: translate(-50%, 0);
        top: 14%;
    }
    .third-section {
        padding: 10px 0px;
    }
	.our-brands .owl-item .item img {
	    max-width: 130px !important;
	}

    .breadcrumbs li strong,
    .top-container >.breadcrumbs ul li {
        font-size: 10px;
    }

    .add-to-cart button.button {
        width: 125px;
    }
    .catalog-product-view .sidebar .custom-block {
        width: 50%;
        float: left;
        padding: 0px;
    }
    .footer-middle .block.block-subscribe .input-box button {
        margin-left: 0px;
        margin-top: 10px;
    }
    .toolbar .sorter {
        margin-bottom: 0px;
    }
    .main-container {
        padding: 20px 0 25px;
    }
    .our-brands .owl-item .item img {
        max-width: 160px !important;
    }

}

@media only screen and (max-width: 767px) {
    .filter-title .container {
        margin: 20px;
    }
    .footer-middle .block.block-subscribe .input-box button {
        margin-left: 0px;
        margin-top: 0px;
    }
    .catalog-product-view .sidebar .row {
        margin-bottom: 10px;
    }


}

@media only screen and (max-width: 700px) {
/* header */
    .banner-wrap .first {
        font-size: 18px;
        margin-bottom: 3px;
    }
    .banner-wrap .second {
        margin-bottom: 3px;
        font-size: 50px;
    }
    .banner-wrap .third {
        margin-bottom: 0px;
        font-size: 16px;
    }
    .product-tabs>ul li a {
        font-size: 11px;
    }

}


@media screen and (max-width: 500px) {

    .banner-wrap .third {
        margin-bottom: 0px;
        font-size: 9px;
    }
    .banner-wrap .second {
        margin-bottom: 3px;
        font-size: 30px;
    }
    .banner-wrap .first {
        font-size: 12px;
        margin-bottom: 3px;
    }

}

@media only screen and (max-width: 479px) {
    .our-brands .owl-item .item img {
	   max-width: 225px !important;
        max-height: 143px;
	}
    .our-brands .owl-item {
        height: 140px;
    }
    .section-title {
        font-size: 18px;
    }
    .footer-bottom a.logo img {
        max-width: 150px;
    }


}

@media only screen and (max-width: 439px) {

    .footer-middle .block.block-subscribe .input-box button {
        margin-left: 0px;
        margin-top: 10px;
    }
    .category-wrap h1 {
        font-size: 25px;
        line-height: 28px;
    }
    .banner-wrap {
        padding: 30px;
    }
    .catalog-product-view .custom-icon {
        padding: 0px 16px;
    }
    .breadcrumbs ul {
        padding: 0;
        line-height: 20px;
    }
}

@media only screen and (max-width: 360px) {

    .header-container.type4 .header .logo img {
        height: 100%;
        width: 163px;
    }
    .banner-wrap {
        padding: 10px;
    }
    .banner-wrap .first {
        font-size: 10px;
        margin-bottom: 3px;
    }
    .banner-wrap .second {
        margin-bottom: 3px;
        font-size: 40px;
    }
    .banner-wrap .third {
        margin-bottom: 0px;
        font-size: 10px;
    }

    .product-view .add-to-links {
        margin-top: 20px;
    }
    .add-to-links li a:first-child {
        margin-left: 0px;
    }

}


@media only screen and (max-width: 320px) {

    .add-to-cart button.button {
        width: 100%;
        margin-top: 16px;
    }
    .add-to-cart .qty {

        width: 100% !important;

    }

    div.col-md-3.custom-icon {
        padding: 0px 0px 0px 15px;
    }

    .add-to-box .add-to-cart {
        width: 100%;
    }
    .qty-holder {
        width: 100%;
    }
    .product-view .add-to-links {
        margin-top: 20px;
        text-align: center !important;
        width: 100%;
    }
}


/* Landscape mobile */

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .item .details-area .actions a.addtocart {
            width: 115px;
    }
    .category-products .products-grid.columns4 li.item {
        width: 25%;
    }
}