<?php

	//$_helper = $this->helper('catalog/output');
	
	$_prodID = Mage::registry('current_product')->getId();
	$_product = Mage::getModel('catalog/product')->load($_prodID );
	$attributeCodes	= array();
	
	/*-----------------------------------------------------
	| Custom Function that will retrieve Custom Attributes
	------------------------------------------------------*/
	
	function get_attributes_code( $group_attr_name, $_product ) {		
		
		$attributeCodes = array();
		
		$setId = $_product->getAttributeSetId(); // Attribute set Id
		$groups = Mage::getModel('eav/entity_attribute_group')
		->getResourceCollection()
		->setAttributeSetFilter($setId)
		->setSortOrder()
		->load();
		
		if( ! is_array( $group_attr_name ) ) $group_attr_name = $group_attr_name;
		
		foreach( $group_attr_name as $keys => $attribute_group ) {
			foreach ($groups as $group) {
				if($group->getAttributeGroupName() == $attribute_group){
					$attributes = Mage::getResourceModel('catalog/product_attribute_collection')
					->setAttributeGroupFilter($group->getId())
					->addVisibleFilter()
					->checkConfigurableProducts()
					->load();
					
					if ($attributes->getSize() > 0) {
						foreach ($attributes->getItems() as $attribute) {			
							$attributeCodes[$attribute_group][] = $attribute->getAttributeCode();                     
						}
					} 
				}
			}
		}
		
		return $attributeCodes;
	}
	
	// Specifications
	$attributes = $this->getgroup_attributes();
	$attributes = array_map('trim',explode(',',$attributes));	
	
	// Get all attributes and assigned it in array variable
	$attributeCodes = get_attributes_code( $attributes , $_product);	
?>

<?php if( $attributeCodes ) : ?>
		
	<h3>Product Specifications</h3>
	
	<table class="data-table" id="product-attribute-specs-table">
		<col width="25%" />
		<col />
		<tbody>
		<?php foreach ($attributeCodes as $group_attribute => $attributes ): ?>
			
			<tr>
				<td colspan="2" style="background-color:#e7e7e7;"><strong style="color:#000;"><?php echo $group_attribute; ?></strong></td>
			</tr>
			
			<?php foreach( $attributes as $attribute_code) { ?>
				
				<?php					
					$attribute_value = $_product->getResource()->getAttribute($attribute_code)->getFrontend()->getValue($_product);
					$attribute_label = $_product->getResource()->getAttribute($attribute_code)->getFrontendLabel();
					
					if( $attribute_value ) : 
				?>	
					<tr>
						<th class="label"><?php echo $attribute_label; ?></th>
						<td class="data" id="<?php echo $attribute_code; ?>"><?php echo ( count( $attribute_value ) > 0 ? $attribute_value : '' ); ?></td>
					</tr>				
				<?php endif; ?>
				
			<?php } ?>
			
		<?php endforeach; ?>
		</tbody>
	</table>
	<script type="text/javascript">decorateTable('product-attribute-specs-table')</script>
	
<?php endif; ?>