<?php

	//$_helper = $this->helper('catalog/output');
	
	$_prodID = Mage::registry('current_product')->getId();
	$_product = Mage::getModel('catalog/product')->load($_prodID );	
	$attributeCodes = array();
		
	$setId = $_product->getAttributeSetId(); // Attribute set Id	
?>
		
<h3>Product Warranty</h3>
<?php
	$warranty_text = $_product->getResource()->getAttribute('tab_warranty')->getFrontend()->getValue($_product);
	
	// Magento default path and media url
	$mediaUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'wysiwyg/porto/pdf';
	$mediaPath = Mage::getBaseDir('media').'/wysiwyg/porto/pdf/';
	$files = array();
	
	if( strpos( $warranty_text, '.pdf' ) ) {	
		
		// Explode Comma(,) From PDF content attributes
		$pdf_files = explode( ',', $warranty_text );		
		
		// Clean the array
		$files_content = array_map('trim', $pdf_files);	
		
		// Break content and split the data 
		foreach( $files_content as $index => $single_file ) {
			$break_file[] = explode(':', $single_file);
		}	
	
		// Format filename and content 
		foreach( $break_file as $index => $file ) {		
			
			$link = end( $file );			
			$link = strpos( $link, '.pdf' ) ? $link : '';			
			
			$files[] = array(
				'file_name'	=>	$file[0],
				'link'		=>	trim($link)
			);
		}	
	}	
	
	if( count($files) > 0 ) {
		$html = '';
		$html .= '<ul class="pdf_list">';
		foreach( $files as $file ) {
			$html .= '
			<li>
				<a target="_blank" href="'.$mediaUrl.$file['link'].'"><i class="fa fa-file-text" style="color:red;"></i>'.$file['file_name'].'</a>
			</li>';
		}
		$html .= '</ul>';
		echo $html;
	}else {
		echo '<p class="text">'.$warranty_text.'</p>';
	}
?>
<style>ul.pdf_list li a i { margin-right:10px; }</style>