<?php 
	$baseUrl = explode('?',Mage::helper('core/url')->getCurrentUrl());
	$baseUrl = $baseUrl[0];
	
	// Get Current Category
	$_category_detail = Mage::registry('current_category');
	$product_count = Mage::getModel('catalog/category')->load($_category_detail->getId())->getProductCount();
	
	$request_params = Mage::app()->getRequest()->getParams();
	$url = '';

	foreach ($request_params as $key=>$val)
	{
			if($key=='id'){ continue;}
			if($key=='rmin'){ continue;}
			if($key=='rmax'){ continue;}
			$url.='&'.$key.'='.$val;		
	}

	$min = ( isset( $request_params['rmin'] ) ? $request_params['rmin'] : 0 );
	$max = ( isset( $request_params['rmax'] ) ? $request_params['rmax'] : 150 );
	
	// $category = Mage::getModel('catalog/category')->load($_category_detail->getId());
	// $products = Mage::getModel('catalog/product')
	// ->getCollection()
	// ->addAttributeToSelect('*')
	// ->addCategoryFilter($category)
	// ->addAttributeToSelect('watts')
	// ->load();
	
	// echo $products->getMaxAttributeValue('watts');
?>

<?php if( $product_count > 0 ) : ?>
	<div class="price price-filter-slider">	
		<div class="rated_watts_wrap">
			<h2 class="sidebar-title">Rated Watts</h2>
			<div class="sidebar-filterproducts custom-block-filter">
				<div class="slider_input">
					<span>Min</span><input type="text"  class="minWatts" value="<?php echo $min; ?>" readonly><span>kW</span>
				</div>		

				<div class="slider_filter_container">
					<div class="slider-range-custom"></div>
				</div>

				<div class="slider_input">
					<span>Max</span><input type="text" class="maxWatts" value="<?php echo $max; ?>" readonly><span>kW</span>
				</div>

				<input type="hidden" value="" name="watts-amount" class"watts-amount">
			</div>

			<div class="text-box">
				<input value="Apply Rated Watts" name="go" class="gos" id="submit_filter" style="" type="submit">
			</div>
		</div>
	</div>

	<style>
		.ui-slider .ui-slider-handle{background:#0088cc;width:11px; height:11px; border: 0; margin-top: -1px; cursor: pointer; border-radius: 5px; }.ui-slider{background:#eeeeee; width:px; height:3px; border:none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; cursor: pointer; margin: 5px 5px 20px 8px; }.ui-slider .ui-slider-range{background:#1ab2ff;border:none; cursor: pointer; box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,.38); }
		.rated_watts_wrap { position: relative; z-index: 1; }
		.custom-block-filter {	position: relative;	z-index: 1; }
		.slider_input {	text-align: center;	margin-bottom:10px;	}
		.slider_filter_container {padding:6px 20px;}
		.slider_input input[type="text"] {
			text-align:center;
			padding:4px 10px;
			border:solid 1px #eee; 
			color: #a3a2a2; 		
			font-size: 14px; 
			margin: 0 8px; width: 120px;
		}	
		#submit_filter {
			background-color: #333;
			border: 0 none;
			bottom: 0;
			color: #fff;
			font-size: 14px;
			padding: 7px 12px;
			width:68% !important;
		}
	</style>

	<script>
		jQuery(function($) {

			function getUrl(newMinPrice, newMaxPrice){			
				return '<?php echo $baseUrl; ?>?rmin='+newMinPrice+'&rmax='+newMaxPrice+'<?php echo $url; ?>';
			}

			var newMinPrice, newMaxPrice, url, temp;
			var categoryMinPrice = 0;
			var categoryMaxPrice = 150;

			$( ".slider-range-custom" ).slider({
				range: true,
				min: categoryMinPrice,
				max: categoryMaxPrice,
				values: [ <?php echo $min; ?>, <?php echo $max; ?> ],
				slide: function( event, ui ) {
					newMinPrice = ui.values[0];
					newMaxPrice = ui.values[1];

					$( ".watts-amount" ).val( newMinPrice + " - " + newMaxPrice );

					// Update TextBox Price
					$(".minWatts").val(newMinPrice); 
					$(".maxWatts").val(newMaxPrice);

				},stop: function( event, ui ) {

					// Current Min and Max Price
					var newMinPrice = ui.values[0];
					var newMaxPrice = ui.values[1];

					// Update Text Price
					$( ".watts-amount" ).val( newMinPrice + " - " + newMaxPrice );


					// Update TextBox Price
					$(".minWatts").val(newMinPrice); 
					$(".maxWatts").val(newMaxPrice);
				
				}
			});


			$("#submit_filter").click(function(){

				var min_val = $(".minWatts").val(),
					max_val = $(".maxWatts").val()

				var url = getUrl(min_val,max_val);

				sliderAjax(url);

			});
			

		});
	</script>
<?php endif; ?>