<?php

	//$_helper = $this->helper('catalog/output');
	
	function sizeFilter( $bytes )
	{
		$label = array( 'B', 'KB', 'MB', 'GB', 'TB', 'PB' );
		for( $i = 0; $bytes >= 1024 && $i < ( count( $label ) -1 ); $bytes /= 1024, $i++ );
		return( round( $bytes, 2 ) . " " . $label[$i] );
	}
	
	$_prodID = Mage::registry('current_product')->getId();
	$_product = Mage::getModel('catalog/product')->load($_prodID );	
	$attributeCodes = array();
		
	$setId = $_product->getAttributeSetId(); // Attribute set Id
	
	// Get pdf content from attribute
	$product_information_pdfs = $_product->getResource()->getAttribute('product_information_pdfs')->getFrontend()->getValue($_product);
	
	// Explode Comma(,) From PDF content attributes
	$pdf_files = explode( ',', $product_information_pdfs );
	$file_name = array();
	
	// Clean the array
	$files_content = array_map('trim', $pdf_files);
	
	// Break content and split the data 
	foreach( $files_content as $index => $single_file ) {
		$break_file[] = explode(':', $single_file);
	}
	
	// Magento default path and media url
	$mediaUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'wysiwyg/porto/pdf';
	$mediaPath = Mage::getBaseDir('media').'/wysiwyg/porto/pdf/';
	
	// Format filename and content 
	foreach( $break_file as $index => $file ) {
		$filesize = filesize($mediaPath.trim($file[1]));
		$files[] = array(
			'file_name'	=>	$file[0],
			'link'		=>	trim($file[1]),
			'file_size'	=>	sizeFilter($filesize)
		);
	}	
?>

<?php if( count($files) > 0 ) : ?>
	<div class="row">
		<div class="col-md-12">
			<div class="side-custom-menu no_radius dark" style="margin-bottom:11px; margin-top:20px;">
				<h2 style="font-size:14px;letter-spacing:0.01em;color:#fff;font-weight:700;">Product Information PDFs <i class="fa fa-file-o"></i></h2>
				
				<ul class="format_icons">
				<?php 
				$nameresult = $files['file_name'];
				if ( !empty($files_content[0]) ) { ?>
					<?php foreach( $files as $file ) : ?>
					
						<li>
							<a target="_blank" href="<?php echo $mediaUrl.$file['link']; ?>"><i class="fa fa-file-text"></i>
								<?php echo $file['file_name'].'<span class="file_size">('.$file['file_size'].')</span>'; ?>
							</a>
						</li>
					
					
					<?php endforeach; ?>
					<?php } else { ?>
						<li>
						<p>There are currently no information PDFs for this product.</p>
						</li>
						<?php }  ?>
				</ul>
				
			</div>
		</div>
	</div>
<?php endif; ?>